
<body>
	<center>
		<h1>Mission Sequence </h1>
		<h3>Bicycle Company</h3>

	</center>
	<hr>
	
	<!-- all infomation and pictures are stored in arrays and indexed  -->
	<table>
		<!-- left column for primary image iterations through @picture array in home sontroller  -->
		<td id = "left-col">
		<center>	<%=@name[@index.value]%></center>
			<%= render(:partial => "bike") %> 

		</td>
		<!-- right column displays information about current bike -->	
		<td id = "right-col">
			<%= render(:partial => "info") %> 
		</td>			
	</table>
	<center>
	<table id = "navbar">
		<td>
		Previous
			<%= link_to image_tag("/assets/left_arrow.png"), :action => 'previous', :id => @index.id , :remote => true %> 
			
		</td>
		<td>    </td>
		<td>
			<%= link_to image_tag("/assets/right_arrow.png"), :action => 'next', :id => @index.id , :remote => true %> 
			Next
		</td>
	</table>
	</center>

</body>
